In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv(r"C:\Users\pc\Downloads\car_fuel_efficiency.csv")

# Preview the data
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [11]:
df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [5]:
# Q1. Pandas version
pd.__version__

'2.3.2'

In [6]:
# Q2. Records count
len(df)

9704

In [12]:
# Fuel types
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [19]:
# Q3 Count of the Fuel types
df['fuel_type'].nunique()

2

In [13]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [15]:
# Question 4. Missing values
df.isnull().any().sum()

np.int64(4)

In [18]:
# Question 5. Max fuel efficiency
# Filter for cars from Asia and get the max fuel efficiency

max_efficiency_asia = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
print("Maximum fuel efficiency (Asia):", max_efficiency_asia)

Maximum fuel efficiency (Asia): 23.759122836520497

In [16]:
# Question 6. Median value of horsepower
df['horsepower'].median()

np.float64(149.0)

## Q6. Median value of horsepower

In [22]:
# Step 1: Calculate the original median of horsepower
median_before = df['horsepower'].median()
print("Original median horsepower:", median_before)

Original median horsepower: 149.0

In [21]:
# Step 2: Find the most frequent (mode) value of horsepower
most_frequent = df['horsepower'].mode()[0]
print("Most frequent horsepower value:", most_frequent)

Most frequent horsepower value: 152.0

In [24]:
# Step 3: Fill missing values in horsepower with the most frequent value
df['horsepower'] = df['horsepower'].fillna(most_frequent)

In [26]:
# Step 4: Calculate the new median of horsepower
median_after = df['horsepower'].median()
print("New median horsepower:", median_after)

New median horsepower: 152.0

In [27]:
# Step 5: Compare the two medians
if median_after > median_before:
    print("Yes, it increased")
elif median_after < median_before:
    print("Yes, it decreased")
else:
    print("No")

Yes, it increased

### Q7. Sum of weights
Select all the cars from Asia
Select only columns vehicle_weight and model_year
Select the first 7 values
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the sum of all the elements of the result

In [28]:
# Step 1: Select all cars from Asia
df_asia = df[df['origin'] == 'Asia']

# Step 2: Select only 'vehicle_weight' and 'model_year'
df_selected = df_asia[['vehicle_weight', 'model_year']]

# Step 3: Select the first 7 values
df_top7 = df_selected.head(7)

# Step 4: Get the underlying NumPy array X
X = df_top7.to_numpy()

# Step 5: Compute XTX = X.T @ X
XTX = X.T @ X

# Step 6: Invert XTX
XTX_inv = np.linalg.inv(XTX)

# Step 7: Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Step 8: Compute w = XTX_inv @ X.T @ y
w = XTX_inv @ X.T @ y

# Step 9: Sum all elements of w
result = w.sum()
print("Sum of all elements in w:", result)

Sum of all elements in w: 0.5187709081074007